<!DOCTYPE html>
<html>
    <head>
        <title>Trello Clone</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </head>
    <body>
        <h3>
            <a href="/">Index</a>
        </h3>
        <h1>Trello-clone</h1>
        <div>
            <form id="list-form">
                <input name="list" type="text" placeholder="Enter list title..." autofocus autocomplete="off"/>
                    <button>Add List</button>
            </form>
        </div>
        <div id="list-container">
        <% listsArray.forEach(function(listElement) { %>
            <div class="empty" data-list-id=<%=listElement.id%>>
                <div class="list-title"><%= listElement.listName %>
                    <button class="delete-list">x</button>
                </div>
                <form class="card-form">
                    <input name="card-list" type="text" placeholder="Add card title..." autocomplete="off"/>
                    <button>Add Card</button>
                </form>
                
                <% var i = 0 %>
                <% cardsArray.forEach(function(cardElement) { %>
                    <% if (listElement.id == cardElement.listID) { %>
                        <div class="fill" draggable="true" data-card-id=<%=cardElement.id%> data-index=<%=i++%>>
                        <div>
                            <%= cardElement.cardDescription %>
                        </div>
                        <div>
                            <button class="edit-card-button">edit</button>
                            <button class="delete-card-button">x</button>
                        </div>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        <% }) %>
        </div>

        <script id="card-form-template" type="text/template">
            <form class="card-form">
                <input name="card-list" type="text" placeholder="Add card title..." autocomplete="off"/>
                <button>Add Card</button>
            </form>
        </script>
        
        <script type="text/javascript" src="/js/trello.js"></script>
    </body>
</html>
